/* 存放首页样式 */
* {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 0.18rem;
}

.app-top-1 {
	width: 100%;
	height: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #90E3B4;
}
.app-top-1 div img {
	height: 0.8rem;
	display: flex;
	flex-direction: column;
}
.app-top-2 {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	width: 100%;
	height: 0.6rem;
	display: flex;
	flex-direction: row;
	z-index: 998;
	background-color: #423c3a;
}

.app-top-3 {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.app-top-4 {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.app-top-5 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.7rem;
	height: 100%;
	color: white;
	cursor: pointer;

}

.app-top-5:hover {
	background-color: yellow;
	color: black;
}

.app-top-5:hover:after {
	position: absolute;
	top: 0.58rem;
	display: block;
	content: '';
	border-width: 8px 8px 8px 8px;
	border-style: solid;
	border-color: yellow transparent transparent transparent;

}
.header_img{
	width: 0.35rem;
	height: 0.35rem;
	border-radius: 50%;
	border: 2px solid white;
	margin-right: 0.1rem;
}
.username{
	display: inline-block;
	width: 1.5rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.app-content {
	width: 100%;
	height: 27rem;
}

.app-content-1 {
	position: fixed;
	top: 3rem;
	right: 0.25rem;
	width: 0.6rem;
	height: 3.1rem;
	background-color: #5F5F5F;
	border-radius: 40px;
	color: white;
	z-index: 99;
}

.app-content-2 {
	width: 100%;

	border-bottom: 1px solid white;
	font-size: 0.11rem;
	cursor: pointer;

}

.app-content-2:hover {
	background-color: yellow;
	color: black;

}


.app-content-3 {
	width: 100%;
	height: 24%;
	border-bottom: 1px solid white;
	font-size: 0.11rem;
	cursor: pointer;

}

.app-content-3:hover {
	background-color: yellow;
	color: black;
	width: 100%;
	height: 24%;
	border-radius: 100px 100px 0 0;

}

.app-content-4 {
	width: 100%;
	height: 28%;

	font-size: 0.11rem;
	cursor: pointer;
}

.app-content-4:hover {
	background-color: yellow;
	color: black;
	width: 100%;
	height: 28%;
	border-radius: 0 0 100px 100px;

}

.icon-img {
	width: 82%;
	margin-top: 0.05rem;
}
.WeChat{
	width: 2rem;
	height: 2rem;
	position: fixed;
	right: 1rem;
	z-index: 999;
	top: 4.5rem;
	display: none;
}
.WeChat_img{
	width: 100%;
	height: 100%;
}

.app-bottom {
	width: 100%;
	height: 2rem;
}


/* 5年经验程序员 */
.parent {
	padding-top: 1.2rem;
	width: 100%;
	height: 7rem;
	background-color: #E2E2E2;
}

.yuan1 {
	width: 1.5rem;
	height: 1.5rem;
	border: 2px solid beige;
	text-align: center;
	border-radius: 50%;
	font-size: 0.5rem;
	background-color: #A5D6E5;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 2rem;
	margin-top: 1.2rem;

}

.yuan2 {
	width: 1.5rem;
	height: 1.5rem;
	border: 2px solid beige;
	text-align: center;
	border-radius: 50%;
	font-size: 0.5rem;
	background-color: #FECAA1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-left: 1rem;
	top: -0.9rem;
	opacity: 0.7;
}

.yuan3 {
	width: 1.5rem;
	height: 1.5rem;
	border: 2px solid beige;
	text-align: center;
	border-radius: 50%;
	font-size: 0.5rem;
	background-color: #AEF2A2;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-left: 2.1rem;
	top: -1.9rem;
	opacity: 0.7;
}

.h {
	position: relative;
	top: -4rem;
	left: 4rem;
	width: 5rem;
}

.h1 {
	font-size: 0.8rem;
}

.h2 {
	font-size: 0.3rem;
}

/* 5年经验程序员 */


/* 浏览器图标 */
.browser {
	width: 100%;
	height: 10rem;
	background-color: #BCE5CE;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.browser1 {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.browser1 img{

	height: 1.2rem;
	margin-top: 0.5rem;
}
.browser h1{
	font-size: 0.5rem;
	font-weight: 500;
	position: relative;
	top: -3.2rem;
}

.browser span{
	font-size: 0.5rem;
	font-weight: 500;
}


/* 浏览器图标 */


/* web前端开发 */
.parent_technology{
				width: 100%;
				height: 9rem;
				background-color: #DBEDF1;
			}
			.technology_background{
				width: 100%;
				height: 5rem;
				
				border-bottom: 0rem solid #A6CBD1;
				display: flex;
				align-items: flex-end;
				justify-content: center;
			}
			.technology_1{
				width: 0.6rem;
				height: 1.6rem;
			}
			.technology_1_1{
				height: 0.4rem;
				width: 100%;
				background-color: #3E494D;
			}
			.technology_1_2{
				width: 0.35rem;
				height: 1.7rem;
				border-bottom:0.25rem solid #EE865F;
				border-left:0.25rem solid #EE865F;
				border-top:0.25rem solid #EE865F;
				background-color: #FEC0B5;
			}
			
			.technology_2{
				width: 0.8rem;
				height: 3.2rem;
				position: relative;
				top: 1rem;
			}
			.technology_2_1{
				height: 0.4rem;
				width: 100%;
				background-color: #3E494D;
			}
			.technology_2_2{
				width: 0.55;
				height: 2.8rem;
				border-bottom:0.25rem solid #BEA56C;
				border-left:0.25rem solid #BEA56C;
				border-top:0.25rem solid #BEA56C;
				background-color: #E0D4AE;
			}
			
			.technology_3{
				width: 6.2rem;
				height: 3.3rem;
			}
			.technology_3_1{
				height: 0.6rem;
				width: 100%;
				background-color: #3E494D;
				display: flex;
				align-items: center;
			}
			.technology_3_2{
				width: 5.7rem;
				height: 4.1rem;
				border-top: 0.3rem solid #4198C5;
				border-bottom: 0.3rem solid #4198C5;
				border-left: 0.25rem solid #4198C5;
				border-right: 0.25rem solid #4198C5;
				background-color: #C4E1EF;
				
				
			}
			.technology_3_2 h1{
				font-size: 0.7rem;
				color: #3D4A52;
			}
			.technology_3_2 h5{
				font-size: 0.2rem;
				color: #3D4A52;
			}
			.technology_span_1{
				display: inline-block;
				width: 0.35rem;
				height: 0.35rem;
				margin-left: 0.15rem;
				border-radius: 50%;
				background-color: #F07855;
			}
			.technology_span_2{
				display: inline-block;
				width: 0.35rem;
				height: 0.35rem;
				margin-left: 0.15rem;
				border-radius: 50%;
				background-color: #FFC162;
			}
			.technology_span_3{
				display: inline-block;
				width: 0.35rem;
				height: 0.35rem;
				margin-left: 0.15rem;
				border-radius: 50%;
				background-color: #66BB92;
			}
			.technology_span_4{
				display: inline-block;
				width: 3.4rem;
				height: 0.35rem;
				margin-left: 0.5rem;
				padding-left: 0.35rem;
				border-radius: 50px;
				background-color: white;
				display: flex;
				align-items: center
			}
			
			.technology_4{
				width: 0.8rem;
				height: 3.3rem;
				position: relative;
				top: 1rem;
			}
			.technology_4_1{
				height: 0.4rem;
				width: 100%;
				background-color: #3E494D;
			}
			.technology_4_2{
				width: 0.55rem;
				height: 2.8rem;
				border-bottom:0.25rem solid #F8AF48;
				border-right:0.25rem solid #F8AF48;
				border-top:0.25rem solid #F8AF48;
				background-color: #FFD8A1;
			}
			
			.technology_5{
				width: 0.6rem;
				height: 1.6rem;
			}
			.technology_5_1{
				height: 0.4rem;
				width: 100%;
				background-color: #3E494D;
			}
			.technology_5_2{
				width: 0.35rem;
				height: 1.7rem;
				border-bottom:0.25rem solid #6BC393;
				border-right:0.25rem solid #6BC393;
				border-top:0.25rem solid #6BC393;
				background-color: #B1E3C8;
			}
		/* 	web前端开发 */
		
		.footer{
			width: 100%;
			height: 2rem;
		}
		.footer_parent{
			width: 100%;
			height: 1.6rem;
			background-color: #484848;
			display: flex;
			justify-content: space-around;
		}
		.footer_parent_1{
			width: 100%;
			height: 0.4rem;
			background-color: #484848;
			color: white;
		}
		.footer_1{
			width: 25%;
			height: 1.6rem;
			
			display: flex;
			color: white;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
		.footer_1 img{
			width: 1.1rem;
			height: 1.1rem;
		}
		.footer_1_1{
			width: 2rem;
			height: auto;
			margin-left: 0.2rem;
			
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		.footer_1_1 h5{
			font-size: 0.21rem;
		}
		.footer_1_1 p{
			font-size: 0.16rem;
			margin-top: 0.1rem;
			color: #9395A0;
		}
		.footer_1_1 p:hover{
			font-size: 0.16rem;
			margin-top: 0.1rem;
			color: yellow;
			cursor: pointer;
		}