.c-parent{
	display: flex;
	flex-direction: row;
}
.c-left{
	width: 3.2rem;
}
.c-right{
	width: 3.2rem;
	margin-left: 0.3rem;
	margin-left: 0.7rem;
}
@media screen and (max-width:830px){
 .c-left{
 	width: 2.6rem;
 }
 .c-right{
 	width: 2.6rem;
 }
}
.case{
	width: 100%;
	min-height: 3.7rem;
	margin-bottom: 0.4rem;
	padding-top: 0.2rem;
	cursor: pointer;
	box-shadow: 10px 10px 10px gainsboro;
	color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
}
.case:hover{
	border:  1px solid #0088CC;
	color: #0088CC;
}
.case img{
	width: 100%;
}
.case p{
	width: 3rem;
	text-indent:0.4rem;
	text-align: left;
	
}