.content-left {
	width: 5.8rem;
	height: 6.3rem;
}
.title{
	font-size: 18px;
	color: #2196F3;
}
.online_list{
	width: 90%;
	height: 4rem;
	padding-right: 0.2rem;
	overflow-y: scroll;
	white-space: normal;
	padding-bottom: 0.5rem;
	text-align: left;
}
.online_list li{
	height: 0.4rem;
	line-height: 0.4rem;
	cursor: pointer;
}
.online_list li:hover{
	background-color: #0088CC;
	cursor: pointer;
}
  /* 设置滚动条的样式 不支持火狐*/
        .online_list::-webkit-scrollbar {
        width:5px;
        background-color: white;
        }

        /* 滚动槽 */
        .online_list::-webkit-scrollbar-track {
        border-radius:5px;
        }

        /* 滚动条滑块 */
        .online_list::-webkit-scrollbar-thumb {
        border-radius:5px;
        background-color:#D2D2D2 ;
        }
.chat_content {
	width: 100%;
	height: 5rem;
	margin-left: 0.5rem;
	margin-right: 0.2rem;
	overflow-y: scroll;
	white-space: normal;
	padding-bottom: 0.5rem;
	text-align: left;
	background-color: #F5F5F5;
}
  /* 设置滚动条的样式 不支持火狐*/
        .chat_content::-webkit-scrollbar {
        width:5px;
        background-color: white;
        }

        /* 滚动槽 */
        .chat_content::-webkit-scrollbar-track {
        border-radius:5px;
        }

        /* 滚动条滑块 */
        .chat_content::-webkit-scrollbar-thumb {
        border-radius:5px;
        background-color:#D2D2D2 ;
        }
		
.chat_textarea{
	width: 70%;
	height: 0.75rem;
	margin-left: 10%;
	resize:none;
	text-align: left;
	border: 1px solid #D1D1D1;
}

.send_button {
	width: 17%;
	height: 0.45rem;
	position: relative;
	top: -0.3rem;
	color: #796F6F;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	
}
.send_button:hover {
	width: 17%;
	height: 0.45rem;
	position: relative;
	top: -0.3rem;
	background-color: #62BC1F;
	border: 0;
	color: white;
}

.chat_content_show {
	position: relative;
	right: -0.8rem;
	max-width: 2rem;
	background: #088cb7;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 7px;
	text-align: center;
	padding: 0.1rem;
}
.chat_content_show:before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	right: 2.09rem;
	top: 3px;
	border-top: 0.13rem solid transparent;
	border-right: 0.26rem solid #088cb7;
	border-bottom: 0.13rem solid transparent;

}

.chat_content_show_1 {
	position: relative;
	right: -2.7rem;
	width: 2rem;

	background: #9EEA6A;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 6px;
	text-align: center;
	padding: 0.1rem;
}

.chat_content_show_1:before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	right: -0.15rem;
	top: 3px;
	border-top: 0.13rem solid transparent;
	border-left: 0.26rem solid #9EEA6A;
	border-bottom: 0.13rem solid transparent;

}
.header_img1{
	width: 0.35rem;
	height: 0.35rem;
	border-radius: 50%;
	border: 2px solid white;
	position: absolute;
	left: -0.6rem;
	top: -0.1rem;
	cursor: pointer;
}
.header_img2{
	width: 0.35rem;
	height: 0.35rem;
	border-radius: 50%;
	border: 2px solid white;
	position: absolute;
	right: -0.6rem;
	top: -0.1rem;
	cursor: pointer;
}
.chat_name{
	color: #686A6D;
	font-size: 0.1rem;
	position: relative;
	left: 4.1rem;
	top: 0.03rem;
}
.chat_name1{
	color: #686A6D;
	font-size: 0.1rem;
	position: relative;
	left: 0.8rem;
	top: 0.03rem;
}
.chat_content_join{
	position: relative;
	right: -2rem;
	width: 2.4rem;
	font-size: 0.15rem;
	margin-top: 0.1rem;
	border-radius: 5px;
	color: #777777;
	background: #C5C6C1;
}

.modify_name{
	border: 1px solid #C5C6C1;
	height: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position:relative;
	bottom: 0;
	
}
.modify_input{
	width: 1.5rem;
	height: 0.25rem;
	text-align: center;
}
.modify_name button{
	width: 0.8rem;
	height: 0.3rem;
	margin-top: 0.1rem;
	border: 0; 
	outline: none; 
	-webkit-appearance: none;
	background-color: white;
	cursor: pointer;
	color: #796F6F;
	background-color: #F0F0F0;
	cursor: pointer;
}
.modify_name button:hover{
	background-color: #62BC1F;
	color: white;
}
