*{
	margin: 0;
	padding: 0;
}
html{
	
}
input{
	height: 0.3rem;
	outline:none; border:none;
	border: 0;
	border-radius: 4px;
}

/* 变幻背景 */
 .parent{          
	 display: flex;
	 align-items: center;
	 justify-content: center;
		text-align: center;  
		animation:mymove 15s infinite; /*animation 时间 播放次数*/  
		animation-direction:alternate; /*是否循环交替反向播放动画*/ 
		/*Safari 和 Chrome:*/
		-webkit-animation:mymove 15s infinite;
	}

	@keyframes mymove  
	{
	  
	    0% {background:#B1E3C8;}  
		25% {background:#BCE5CE;}  
		50% {background:#E2E2E2;}  
		75% {background:#DBEDF1;}  
		100% {background:#A6CBD1;}  
	}  

	/*Safari 和 Chrome:*/
	@-webkit-keyframes mymove
	{

		0% {background:#B1E3C8;}
		25% {background:#BCE5CE;}
		50% {background:#E2E2E2;}
		75% {background:#DBEDF1;}
		100% {background:#A6CBD1;}
	}
	/* 变幻背景 */

.login{
	width: 5rem;
	height: 5rem;
	font-size: 0.15rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	 background: rgba(7, 5,6,0.2);/* 半透明背景 */
}
.login_1 input{
	width: 1.4rem;
	padding-left: 0.3rem;
}
.login_1 svg{
	position: relative;
	top: 0.08rem;
	left: 0.3rem;
	width: 0.25rem;
	height: 0.25rem;
}
.login_msg{
	color: red;
	position: relative;
	left: 0.3rem;
}

.login_2{
	margin-top: 0.2rem;
}
.login_2 input{
	width: 1.4rem;
	padding-left: 0.3rem;
}
.login_2 svg{
	position: relative;
	top: 0.08rem;
	left: 0.3rem;
	width: 0.25rem;
	height: 0.25rem;
}
.login_3{
	width: 1rem;
	height: 0.5rem;
	margin-top: 0.2rem;
	background-color: white;
	cursor:pointer;
}
.login_3 svg{
	width: 1rem;
	height: 0.5rem;
}
.login_4{
	width: 1.5rem;
	height: 0.3rem;
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:#2196F3;
	cursor:pointer;
	border-radius: 5px;
	color: white;
}
.login_VCode{
	margin-top: 0.2rem;
}
.login_VCode svg{
	position: relative;
	top: 0.08rem;
	left: 0.3rem;
	width: 0.25rem;
	height: 0.25rem;
}
.login_VCode input{
	width: 1.3rem;
	padding-left: 0.3rem;
}
.login_msg{
	height: 0.2rem;
}
.go_register{
	margin-top: 0.1rem;
}
span{
	font-weight: 600;
}