<!DOCTYPE html>
<html>
	<head>
		<meta charset="gb2312" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>微信支付</title>
	</head>
	<style>
		.parent{
			    margin: 0 auto; 
				<% if (url) { %>
				  background: url( <%= url %> ) no-repeat center center;
				<% } %>
			    background-size: contain;
		}
		.play-img{
			width: 100%;
			opacity: 0; 
		}
	</style>
	<body>
		<div class="parent">
			<% if (url) { %>
			<img class="play-img" src=" <%= url %> " alt="扫描二维码"/>
			<% } %>
		</div>
		<div>长按二维码支付即可</div>
		<script language="javascript"> 
		window.onload=function(){
			setTimeout(()=>{
				alert("长按二维码支付即可！")
			},500)
		}
		</script> 
	</body>
</html>